.tags-container {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  padding: 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}

.input-tag {
  border: none;
  margin: 5px;
  flex: 1;
}

.input-tag:focus {
  outline: none;
}

.tag {
  margin: 3px;
}
