.upper-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
}

.upper-left-1 {
  display: flex;
}

.distance {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.distance > * {
  margin-left: 5px;
  margin-right: 5px;
  color: rgba(85, 85, 85, 0.849);
}

.distance-label {
  font-size: 14px;
}

.distance-icon {
  font-size: 20px;
}

.profile-image-container {
  flex: 1;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 50px;
  flex: 1;
}

.info-label {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.728);
}

.info-d {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.progress {
  margin-left: 5px;
  margin-right: 5px;
  height: 10px;
  width: 40%;
}

.upper-left-3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.interests-container {
  display: flex;
  flex-wrap: wrap;
}

.tag-container {
  margin: 5px;
}

.upper-left-4 {
  display: flex;
}