.p-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 50px;
}

.s-1 {
    display: flex;
    align-items: center;
}

.info-label {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.728);
}

.progress {
    margin-left: 5px;
    margin-right: 5px;
    height: 10px;
    width: 40%;
}

.interests-container {
    display: flex;
    flex-wrap: wrap;
}

.tag-container {
    margin: 5px;
}

.distance {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  
.distance > * {
    margin-left: 5px;
    margin-right: 5px;
    color: rgba(85, 85, 85, 0.849);
}