.message-container {
  display: inline-flex;
  margin: 5px;
  width: 100%;
}

.message-sent {
  border-radius: 18px;
  width: max-content;
  max-width: 200px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 15px;
  background-color: #007bff;
  color: white;
  word-wrap: break-word;
}

.message-received {
  border-radius: 18px;
  width: max-content;
  max-width: 200px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 15px;
  background-color: #f0f0f0;
  color: black;
  word-wrap: break-word;
}

.flex-end {
  justify-content: flex-end;
}
