.search-container {
  width: 100%;
  box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
  margin: 10px;
  padding: 10px;
}

.sort {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;

}

.cancel-icon {
  cursor: pointer;  
}

.divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter-controllers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filter-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

.filter-wrapper > div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.filter-button {
  display: flex;
  justify-content: center;
  margin: 4px;
  width: 100%;
}
