.messenger-container {
  display: flex;
  justify-content: center;
  height: 80vh;
}

@media screen and (max-width: 700px) {
  .m-container {
    width: 100px;
  }
  .conversation-container {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .m-container-username {
    display: none;
  }

  .m-container-profile-photo {
    margin: auto;
  }
}
