.messenger-container {
  display: flex;
  justify-content: center;
  height: 80vh;
}

@media screen and (max-width: 700px) {
  .messenger-container {
    flex-direction: column;
  }
  .list-container {
    flex-direction: row;
    border: none;
  }
  .conversation-container {
    flex: 1;
    width: 90%;
    margin: auto;
    overflow: auto;
  }
  .m-container {
    width: 100px;
  }
}

@media screen and (max-width: 800px) {
  .m-container-username {
    display: none;
  }

  .m-container-profile-photo {
    margin: auto;
  }
}
