.m-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px;
  cursor: pointer;
}

.m-container-active {
  background-color: rgb(249, 249, 249);
}

.m-container:hover {
  background-color: rgb(249, 249, 249);
}

.m-container-profile-photo {
  width: 50px;
  height: 50px;
}

.m-container-username {
  margin: 5px;
}

.m-profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
