* {
  margin: 0;
  padding: 0;
}

.card {
  width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 3%;
  transition: 0.4s ease;
}

.card:hover {
  transform: scale(1.1);
}

.header {
  height: 250px;
}

.overlay {
  background: linear-gradient(#e66465, #9198e5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.media-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tag {
  padding: 5px;
}

.media {
  width: 100%;
  height: 250px;
}

.content {
  flex: 1;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

ul li {
  display: inline;
  list-style: none;
}

.fullname {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
}

.info {
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.side-info-label {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: rgb(97, 97, 97);
}

.align {
  display: flex;
}

.info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fa {
  color: rgb(97, 97, 97);
}
