.chip-container {
  border: 1px solid rgb(228, 228, 228);
  border-radius: 16px;
  padding: 3px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 5px;
  position: relative;
}

.chip-label {
  font-size: 0.8125rem;
  padding-right: 5px;
  padding-left: 5px;
}

.chip-up {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: -5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  opacity: 0.2;
}

.chip-down {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  right: -5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.up-active {
  border: 1px solid rgb(228, 228, 228);
  opacity: 1;
  font-style: inherit;
}

.down-active {
  border: 1px solid rgb(228, 228, 228);
  opacity: 1;
  font-style: inherit;
}